*{
  margin: 0;
  box-sizing: border-box;
  gap: 10px;
  font-family: "jersey 15";
}
header{
    grid-area: header;
    background-color: #66f;
    text-align: center;
    font-weight: bolder;
    height: 50px;
    display: flex;
    justify-content: center;
    }
aside{
    grid-area: aside;
    border: px; 
    background-color: #bdf17d; 
    padding-left: 20px;  
}
.category{
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}
.items{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
   
main{
    grid-area: main;
    background-color: #bdf17d;
}
.sub-title{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}
    
footer{
    grid-area: footer;
    background-color: #66f;
    align-items: center;
    height: 50px;
    }
.grid-container{
     display: grid;
     grid-template-areas:
     "header header"
     "aside main"
     "footer footer";
     grid-template-columns: 20% auto;
     gap: 10px;
     } 
 .grid-main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #bdf17d   ;
    }
 .images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

 .images div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  .images img {
        max-width: 100%;
        height: auto;
    }
footer{
    display: flex;
    justify-content: space-around;
    font-size: larger;
}
img {
    border-radius: 5%;
    
}
body{
    background-color: #bdf17d ;
}